.App {
  font-family: 'FenomenSans';
  text-align: center;
}

@font-face {
  font-family: 'FenomenSans';
  src: local('FenomenSans-CNRegular'), url(./assets/fonts/FenomenSans-CNRegular.ttf) format('ttf');
}