@font-face {
  font-family: 'Fenomen Sans';
  src: local('Fenomen Sans Regular'), local('Fenomen-Sans-Regular'),
      url('./assets/fonts/FenomenSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/FenomenSans-Regular.woff') format('woff'),
      url('./assets/fonts/FenomenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.App {
  font-family: 'Fenomen Sans';
  text-align: center;
}
