$mainLight: #ffffff;
$shadowLight: #bfbfbf;
$highlights: #007acc;
$mainDark: #252526;
$shadowDark: #1e1e1e;
$highlights: #007acc;

:export {
  mainDark: $mainDark;
  shadowDark: $shadowDark;
  mainLight: $mainLight;
  shadowLight: $shadowLight;
  highlights: $highlights;
}
