$text: #ffffff;
$mainLight: #007acc;
$highlights: #9b1ecd;
$mainDark: #111235;
$shadowDark: #1e1e1e;

:export {
  mainDark: $mainDark;
  shadowDark: $shadowDark;
  mainLight: $mainLight;
  highlights: $highlights;
}
