@import "./colors";
.backdrop {
  background: linear-gradient(55deg, $mainDark, 80%, $mainLight);
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  transform-origin: right;
  width: 100vw;
}