@import "./colors";
.link-wrapper {
  align-items: center;
  color: $mainLight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 10%;
  top: 40%;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 1;
}

.invisible {
  transition: opacity 1s ease;
}