@import "./colors";

.link-wrapper {
  align-items: center;
  color: $text;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  gap: 30px;
  justify-content: center;
  max-width: calc(100vw / 4);
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 1;

  .nav-link {
    position: relative;
    text-decoration: underline 0.08em rgba($text, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 1s, text-underline-offset 1s;
  }

  .nav-link:hover {
    cursor: pointer;
    text-decoration-color: rgba($text, 1);
  }
}


.invisible {
  transition: opacity 1s ease;
}