@import "./colors";
nav {
  align-items: center;
  background-color: $mainDark;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  position: absolute;
  width: 100vw;

  .nav-left {
    align-items: center;
    display: flex;
    height: 100%;
    gap: 50px;
    margin-left: 10px;
    width: 20%;

    .nav-title {
      color: $mainLight;
    }

    .bold {
      font-weight: bold;
    }
  }
}