@import "./colors";
.page-wrapper {
  height: 100vh;
  position: relative;
  transition: 0.5s;
  transform-origin: left;
  transform-style: preserve-3d;
  overflow: hidden;
  width: 100vw;
  z-index: 2;

  .overlay {
    align-items: center;
    // backgroud: linear-gradient(to right top, $shadowDark 33%, $mainDark 85%, $highlights)
    display: flex;
    flex-direction: column;
    height: 100%; // TODO
    justify-content: center;
    position: relative;
    width: 100%;

    .page-container {
      animation: fadeInAnimation 1s ease-in;
      align-items: center;
      // backgroud: linear-gradient(to right top, $shadowDark 33%, $mainDark 85%, $highlights)
      display: flex;
      flex-direction: column;
      height: -webkit-fill-available;
      justify-content: flex-start;
      position: absolute;
      top: 25%;
      width: 100%;
      z-index: 3;

      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }

      .title {
        color: $text;
        font-size: 3.5rem;
        z-index: 3;
      }

      .content {
        color: rgba($text, 0.6);
        font-size: 1.5rem;
        max-width: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: justify;
        margin-top: 20px;
        z-index: 3;


        .highlight {
          color: rgba($text, 1);
        }

        .clickable:hover {
          cursor: pointer;
        }

        .heading {
          color: rgba($text, 1);
          font-size: 2rem;
          margin-top: 0;
          text-align: center;
        }
      }
    }

  }
}

.open-navigation {
  animation: open-nav 0.5s ease;
  box-shadow: -30px 30px 100px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(200px);
}

@keyframes open-nav {
  from{
    transform: translate(0);
  }
  to{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(200px);
  }
}

::-webkit-scrollbar {
  display: none;
}