@import "./colors";
.page-wrapper {
  height: 100vh;
  position: relative;
  transition: 0.5s;
  transform-origin: left;
  transform-style: preserve-3d;
  overflow: hidden;
  width: 100vw;
  z-index: 2;

  .overlay {
    align-items: center;
    background: transparent;
    // backgroud: linear-gradient(to right top, $shadowDark 33%, $mainDark 85%, $highlights)
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .title {
      color: $text;
      font-size: 3.5rem;
      z-index: 3;
    }

    .content {
      color: $text;
      font-size: 1.5rem;
      max-width: 60%;
      text-align: justify;
      z-index: 3;

      .heading {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.open-navigation {
  animation: open-nav 0.5s ease;
  box-shadow: -30px 30px 100px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(300px);
}

@keyframes open-nav {
  from{
    transform: translate(0);
  }
  to{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(300px);
  }
}