@import "./colors";
.page-wrapper {
  height: 100vh;
  position: relative;
  transition: 0.5s;
  transform-origin: left;
  transform-style: preserve-3d;
  overflow: hidden;
  width: 100vw;
  z-index: 2;

  .overlay {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .page-container {
      animation: fadeInAnimation 1s ease-in;
      align-items: center;
      bottom: 50px;
      display: flex;
      flex-direction: column;
      height: -webkit-fill-available;
      justify-content: flex-start;
      position: absolute;
      overflow: hidden;
      top: 25%;
      width: 100%;
      z-index: 3;

      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
      }

      .title {
        color: $text;
        font-size: 3.5rem;
        max-width: 80%;
        z-index: 3;
      }

      .code {
        color: $text;
        font-family: monospace;
        font-size: 1.3rem;
        max-width: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: justify;
        padding-bottom: 40px;
        z-index: 3;

        a {
          color: $text;
        }

        p {
          margin: 0;
          padding: 5px;
        }

        .tab1 {
          text-indent: 2em;
        }

        .tab2 {
          text-indent: 4em;
        }
      }

      .language-picker {
        align-items: center;
        background-color: $shadowDark;
        display: flex;
        flex-direction: row;
        height: 20%;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;

        .language {
          align-items: center;
          box-shadow: 0 0 60px 20px rgba(0,0,0,.25);
          color: $text;
          display: flex;
          height: 100%;
          justify-content: center;
          min-width: 18%;
        }
      }

      .content {
        color: rgba($text, 0.6);
        font-size: 1.5rem;
        max-width: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: justify;
        margin-top: 20px;
        z-index: 3;

        a {
          color: $text;
        }

        .highlight {
          color: rgba($text, 1);
        }

        .clickable:hover {
          cursor: pointer;
        }

        .heading {
          color: rgba($text, 1);
          font-size: 2rem;
          margin-top: 0;
          text-align: center;
        }
      }
    }

    .experience {
      bottom:  0px;
      justify-content: space-between;
    }

  }
}

.open-navigation {
  animation: open-nav 0.5s ease;
  box-shadow: -30px 30px 100px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(200px);
}

@keyframes open-nav {
  from{
    transform: translate(0);
  }
  to{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(200px);
  }
}

::-webkit-scrollbar {
  display: none;
}